@use "./base/variables" as v;
@use "./base/mixins" as m;
.tickets {
  &__grid {
    @include m.container-sm;
    @include m.grid(1, 5rem);
  }
}

.ticket {
  position: relative;
  width: min(100% - 5rem, 65rem);
  margin: 0 auto;
  padding: 6rem;
  border-radius: 2rem;
  color: v.$white;

  &::before, &::after {
    position: absolute;
    content: '';
    width: 5rem;
    height: 5rem;
    background-color: v.$white;
    top: calc(50% - 2.5rem);
  }
  &:before {
    clip-path: circle(50% at 25% 50%);
    left: 0;
  }
  &:after {
    clip-path: circle(50% at 75% 50%);
    right: 0;
  }
  
  &--inperson, &--presencial {
    background-color:hsla(178,100%,39%,1);
    background-image:
    radial-gradient(at 91% 45%, hsla(209,100%,47%,1) 0px, transparent 50%),
    radial-gradient(at 13% 81%, hsla(209,100%,47%,1) 0px, transparent 50%),
    radial-gradient(at 80% 10%, hsla(209,100%,47%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(178,100%,39%,1) 0px, transparent 50%),
    radial-gradient(at 37% 40%, hsla(209,100%,47%,1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(178,100%,39%,1) 0px, transparent 50%),
    radial-gradient(at 58% 79%, hsla(209,100%,47%,1) 0px, transparent 50%);
  }
  &--virtual {
    background-color: v.$secondary;
  }
  &--free, &--gratis {
    background-color: v.$primary;
  }
  $modifier : &;
  &--access {
    width: 30rem;
    height: 50rem;
    padding: 10rem 3rem;
    @include m.tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60rem;
      height: 30rem;
      padding: 6rem;
    }

    #{$modifier}__logo {
      @include m.flow-text(2rem, 3rem);
      margin: 0;
      text-align: start;
    }
    
    #{$modifier}__name {
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: v.$bold;
    }

    #{$modifier}__code {
      position: absolute;
      bottom: 7rem;
      left: 0;
      width: 100%;
      margin: 0;
      font-size: 4rem;
      font-weight: v.$bold;
      text-align: center;
      @include m.tablet {
        transform-origin: 0 0;
        top: 0;
        left: calc(100% - 5rem);
        width: 30rem;
        rotate: 90deg;
      }
    }
  }
  &::before {
    clip-path: circle(50% at 50% 25%);
    top: 0;
    left: calc(50% - 2.5rem);
    @include m.tablet {
      clip-path: circle(50% at 25% 50%);
      left: 0;
      top: calc(50% - 2.5rem);
    }
  }
  
  &::after {
    clip-path: circle(50% at 50% 75%);
    top: calc(100% - 5rem);
    left: calc(50% - 2.5rem);
    @include m.tablet {
      clip-path: circle(50% at 75% 50%);
      left: calc(100% - 5rem);
      top: calc(50% - 2.5rem);
    }
  }

  

  &__logo {
    @include m.logo;
    @include m.flow-text(2rem, 4rem);
  }
  &__plan {
    margin: 3rem 0 0 0;
    text-transform: uppercase;
    font-size: 2rem;
  }
  &__price {
    margin: 3rem 0 0 0;
    font-size: 4rem;
    font-weight: v.$black;
  }
  &__link-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  &__link {
    @include m.button(v.$primary, v.$white);
    width: auto;
  }
}