@use "./base/variables" as v;
@use "./base/mixins" as m;

.header {
  min-height: 60rem;
  background-image: url('../img/grafico.svg'), url('../img/grafico.svg'), linear-gradient(to right, rgba(v.$dark, 1),  rgba(v.$dark, .5)), image-set(url('../img/header.avif') 1x, url('../img/header.webp')1x, url('../img/header.jpg') 1x);
  background-repeat: no-repeat;
  background-size: 400px, 400px, cover, cover;
  background-position: top left, bottom right, center center, center center;
  &__container {
    @include m.container;
  } 
  &__nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 5rem 0;
    @include m.tablet {
      justify-content: flex-end;
    }
  }
  &__link {
    @include m.link;
  }
  &__content {
    padding-top: 10rem;
    @include m.tablet {
      padding: 5rem;
    }
  }
  &__logo {
    @include m.flow-text(2rem, 8rem);
    @include m.text-gradient(v.$primary, v.$secondary);
    text-align: center;
    @include m.tablet {
      display: inline-block;
      text-align: start;
    }
  }
  &__text {
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: v.$bold;
    text-align: center;
    text-transform: uppercase;
    color: v.$white;
    @include m.tablet {
      text-align: start;
    }
    &--mode {
      font-size: 2rem;
    }
  }
  &__button {
    @include m.button(v.$secondary, v.$dark);
    margin: 2rem 0;
    text-transform: uppercase;
    @include m.tablet {
      width: auto;
    }
  }
}