@use "./variables" as v;
// Media Queries
@mixin mobile {
  @media (min-width: v.$mobile) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: v.$laptop) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}
@mixin xldesktop {
  @media (min-width: v.$xldesktop) {
    @content;
  }
}

@mixin button($bgColor, $textColor) {
  width: 100%;
  padding: 1.5rem 4rem;
  display: inline-block;
  border: none;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: $textColor;
  background-color: $bgColor;
  transition-property: background-color;
  transition-duration: 0.3s;
  &:hover {
    background-color: darken($bgColor, 7%);
    cursor: pointer;
  }
  @include tablet {
    width: auto;
  }
}

// Grid
@mixin grid($columns, $spacing) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $spacing;
}

// Flex
@mixin flex($axis, $justify, $align, $gap) {
  display: flex;
  flex-direction: $axis;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

// Transition
@mixin transition($property) {
  transition-property: $property;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

@mixin container {
  width: min(95%, 140rem);
  margin: 0 auto;
}

@mixin container-md {
  width: min(95%, 80rem);
  margin: 0 auto;
}

@mixin container-sm {
  width: min(95%, 60rem);
  margin: 0 auto;
}

@mixin headings {
  margin: 2rem 0;
  font-family: v.$main-font;
  font-weight: v.$black;
}

@mixin name-page {
  @include headings;
  margin: 6rem 0 3rem 0;
  text-align: center;
}
@mixin description-page {
  margin-bottom: 5rem;
  font-size: 1.8rem;
  font-weight: v.$thin;
  text-align: center;
  color: v.$gray-dark;
}

@mixin flow-text($min, $max) {
  font-size: clamp($min, -0.8rem +  10vw ,$max);
}

@mixin text-gradient($start, $end) {
  background: linear-gradient(to right, $start, $end);
  background-clip: text;
  color: transparent;
}
@mixin logo {
  margin-bottom: 2rem;
  text-align: center;
  color: v.$white;
  @include desktop {
    margin: 0;
    text-align: start;
  }
}
@mixin socials-menu($color, $size) {
  &__link {
    &::before {
      display: inline-block;
      font-size: $size;
      font-style: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 6 Brands";
      color: $color;
    }
    &[href*="https://facebook.com"]::before {
      content: "\f39e";
    }
    &[href*="https://github.com"]::before {
      content: "\f09b";
    }
    &[href*="https://tiktok.com"]::before {
      content: "\e07b";
    }
    &[href*="https://instagram.com"]::before {
      content: "\f16d";
    }
    &[href*="https://youtube.com"]::before {
      content: "\f167";
    }
    &[href*="https://twitter.com"]::before {
      content: "\f099";
    }
  }
  &__hide {
    display: none;
  }
}

@mixin link {
  all: unset;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: v.$bold;
  color: v.$white;
  background-color: transparent;
  @include transition(color);
  &:hover {
    cursor: pointer;
    color: v.$primary;
  }
}

@mixin shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin tags {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;

  > li {
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.4rem;
    font-weight: v.$bold;
    color: v.$white;
    background-color: v.$primary;
  }
}