@use "./variables" as v;
// Media Queries
@mixin mobile {
  @media (min-width: v.$mobile) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: v.$laptop) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}
@mixin xldesktop {
  @media (min-width: v.$xldesktop) {
    @content;
  }
}

@mixin button($bgColor, $textColor) {
  width: 100%;
  padding: 1.5rem 4rem;
  display: inline-block;
  border: none;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: $textColor;
  background-color: $bgColor;
  transition-property: background-color;
  transition-duration: 0.3s;
  &:hover {
    background-color: darken($bgColor, 7%);
    cursor: pointer;
  }
  @include tablet {
    width: auto;
  }
}

// Grid
@mixin grid($columns, $spacing) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $spacing;
}

// Flex
@mixin flex($axis, $justify, $align, $gap) {
  display: flex;
  flex-direction: $axis;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

// Transition
@mixin transition($property) {
  transition-property: $property;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

@mixin container {
  width: min(95%, 140rem);
  margin: 0 auto;
}

@mixin container-sm {
  width: min(95%, 60rem);
  margin: 0 auto;
}

@mixin headings {
  margin: 2rem 0;
  font-family: v.$main-font;
  font-weight: v.$black;
}

@mixin name-page {
  @include headings;
  margin: 6rem 0 3rem 0;
  text-align: center;
}

@mixin flow-text($min, $max) {
  font-size: clamp($min, -0.8rem +  10vw ,$max);
}

@mixin text-gradient($start, $end) {
  background: linear-gradient(to right, $start, $end);
  background-clip: text;
  color: transparent;
}