// Fonts
$main-font: 'Outfit', sans-serif;

// MQ Sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$xldesktop: 1200px;

// Palette color
$primary: #007df4;
$secondary: #00c8c2;

$dark: #1a1b15;
$white: #FFFFFF;
$gray: #64748B;
$gray-light: #F8FAFC;
$gray-dark: #1E293B;

$error: rgb(169, 0, 0);
$success: #02db02;

// Font weights
$thin: 300;
$regular: 400;
$bold: 700;
$black: 900