@use "./base/variables" as v;
@use "./base/mixins" as m;
.diary {
  padding: 5rem 0;
  @include m.container;
}
.events {
  $modifier: &;
  &__heading {
    margin: 5rem 0;
    text-align: start;
    font-size: clamp(2rem, -0.8rem + 8vw, 4rem);
    color: v.$primary;
  }
  &__date {
    margin: 3rem 0 1rem 0;
    color: v.$gray;
  }
  &--workshops {
    #{$modifier}__heading {
      color: v.$secondary;
    }
    .event__info {
      background-color: v.$secondary;
      &:hover {
        background-color: darken($color: v.$secondary, $amount: 10);
      }
    }
  }
  .swiper-button-next, 
  .swiper-button-prev {
    color: rgba($color: v.$white, $alpha: .5);
  }
}

.event {
  &__hour {
    font-weight: v.$bold;
  }
  &__info {
    padding: 2rem;
    border-radius: 1rem;
    color: v.$white;
    background-color: v.$primary;
    @include m.transition(background-color);
    &:hover {
      background-color: darken($color: v.$primary, $amount: 10);
    }
  }
  &__name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0;
    font-size: 2rem;
    overflow: hidden;
  }
  &__introduction {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.8;
    font-size: 1.6rem;
    overflow: hidden;
  }
  &__autor-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  &__image-autor {
    width: 5rem;
    border-radius: 50%;
    background-color: v.$white;
  }
  &__autor-name {
    font-weight: v.$bold;
  }
  &__add {
    @include m.button(v.$white, v.$dark);
    margin-top: 1rem;
    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }
    @include m.tablet {
      width: 100%;
    }
  }
}