@use "./base/variables" as v;
@use "./base/mixins" as m;
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: v.$gray-light;

  &__header {
    padding: 2rem;
    background-color: v.$gray-dark;
  }
  &__header-grid {
    display: flex;
    flex-direction: column;
    @include m.tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center
    }
  }
  &__logo {
    @include m.logo;
    @include m.flow-text(2rem, 3rem);
  }
  &__nav {
    text-align: center;
  }
  &__form {
    @extend .dashboard__container;
    @include m.container-md;
  }
  &__submit--logout {
    @include m.link;
    @include m.tablet {
      padding: 2rem;
    }
  }

  &__grid {
    display: flex;
    flex: 1;
    overflow-y: auto;
  }
  &__sidebar {
    width: 12rem;
    background-color: lighten($color: v.$gray-dark, $amount: 10);
  }
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: lighten($color: v.$gray-dark, $amount: 40);
    @include m.transition(border-radius color background-color);
    &:hover, &--current {
      border-radius: 1rem;
      color: v.$white;
      background-color: lighten($color: v.$gray-dark, $amount: 20);
    }
  }
  &__icon {
    font-size: 2rem;
  }
  &__menu-text {
    margin-top: .5rem;
    font-size: 1.1rem;
    font-weight: v.$bold;
    text-transform: uppercase;
  }
  &__content {
    width: 100%;
    padding: 1rem 1rem 3rem 1rem;
    overflow-y: scroll;
    @include m.tablet {
      padding: 1rem 5rem 3rem 5rem;
    }
  }
  &__container-button {
    @include m.tablet {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 5rem;
    }
  }
  &__button {
    @include m.button(v.$primary, v.$white);
    font-size: 1.4rem;
    text-transform: uppercase;
    @include m.tablet {
      width: auto;
    }
  }

  &__container {
    @include m.shadow;
    padding: 2rem;
    border-radius: 1rem;
    background-color: v.$white;
    overflow: auto;
  }
}