@use "./base/variables" as v;
@use "./base/mixins" as m;
.table {
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
  &__head {
    color: v.$white;
    background-color: v.$gray-dark;
  }
  &__body {

  }
  &__th {
    padding: 1rem;
    text-align: start;
  }
  &__tr {
    &:nth-child(even) {
      background-color: lighten($color: v.$gray, $amount: 50);
    }
  }
  &__td {
    padding: 1.5rem 1rem;

    &--actions {
      @extend .table__td;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 3rem;
    }
  }
  &__action {
    all: unset;
    font-size: 1.4rem;
    font-weight: v.$bold;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }

    &--edit, &--delete {
      display: flex;
      justify-content: space-between;
      gap: .3rem;
    }

    &--edit {
      color: v.$primary;
    }
    &--delete {
      color: v.$error;
    }
  }

}