@use "./base/variables" as v;
@use "./base/mixins" as m;
.form {
  display: flex;
  flex-direction: column;
  &__fieldset {
    margin-top: 1rem;
    padding: 0;
    border: none;
  }
  &__legend {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: v.$gray;
  }
  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0;
  }
  &__container-icon {
    display: flex;
    border-radius: .5rem;
    overflow: hidden;
  }
  &__icon {
    display: grid;
    place-content: center;
    width: 4rem;
    background-color: v.$gray-dark;

    i {
      font-size: 2rem;
      color: v.$white;
    }
  }
  &__label {
    display: block;
    font-size: 1.8rem;
    color: rgba(v.$dark, .8);
  }
  &__input {
    padding: 1rem;
    border: 1px solid darken($color: v.$gray-light, $amount: 20%);
    border-radius: .5rem;

    &--file {
      border: none;
      width: 100%;
    }

    &--socials {
      flex: 1;
      border-top-left-radius: 0;
      border-bottom-left-radius:0; 
    }
  }
  &__list {
    @include m.tags;
  }
  &__submit {
    @include m.button(v.$primary, v.$white);
    width: auto;
    align-self: flex-start;

    &--register {
      width: 100%;
    }
  }
}